h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-087);
}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

p,
li {
  font-size: 1.4rem;
  line-height: 2.8rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}
